cog_emo_noder.flow
[{"id":"730b2c45.8f205c","type":"tab","label":"Cognitive Dress","disabled":false,"info":""},{"id":"415c49fd.e652d","type":"sort","z":"730b2c45.8f205c","name":"sort","order":"descending","as_num":true,"target":"","targetType":"seq","msgKey":"payload.score","msgKeyType":"jsonata","seqKey":"payload.score","seqKeyType":"msg","x":470,"y":220,"wires":[["8cc6bd27.27aac8"]]},{"id":"87a5dcb3.c53968","type":"debug","z":"730b2c45.8f205c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":360,"wires":[]},{"id":"45680acf.83ccc4","type":"function","z":"730b2c45.8f205c","name":"Out Tones","func":"return {payload:msg.response.document_tone.tone_categories[0].tones};","outputs":1,"noerr":0,"x":414,"y":126,"wires":[["ff4547bf.d7e338","52588489.bdd6cc","c5d5db95.1bbbe8"]]},{"id":"ff4547bf.d7e338","type":"split","z":"730b2c45.8f205c","name":"Split Tones","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload.score","x":490,"y":180,"wires":[["415c49fd.e652d"]]},{"id":"8cc6bd27.27aac8","type":"join","z":"730b2c45.8f205c","name":"Join Tones","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":260,"wires":[["d1a95556.f81"]]},{"id":"79644955.6a2568","type":"ibmiot out","z":"730b2c45.8f205c","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"b827eb416d4b","deviceType":"CognitiveLED","eventCommandType":"light","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":860,"y":320,"wires":[]},{"id":"d1a95556.f81","type":"function","z":"730b2c45.8f205c","name":"Send MQTT","func":"var tonearr = [];\nfor (var i = 0; i < 3; i++){\n    var r = \"\";\n    var g = \"\";\n    var b = \"\";\n    switch(msg.payload[i].tone_id){\n        case \"anger\":\n            rgb = [0,0,200];\n            break;\n        case \"disgust\":\n            rgb = [0,200,0];\n            break;\n        case \"sadness\":\n            rgb = [200,0,0];\n            break;\n        case \"fear\":\n            rgb = [200,0,200];\n            break;\n        case \"joy\":\n            rgb = [0,200,200];\n            break;\n    }\n    //if (msg.payload[i].score < 0.5) rgb = [0,0,0];\n    var toneObj = {\n        \"intensity\": msg.payload[i].score,\n        \"tone_id\": msg.payload[i].tone_id,\n        \"rgb\": rgb\n    };\n    tonearr[i] = toneObj;\n}\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"tone1\": tonearr[0],\n        \"tone2\": tonearr[1],\n        \"tone3\": tonearr[2],\n      }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":300,"wires":[["87a5dcb3.c53968","79644955.6a2568"]]},{"id":"b0525353.327fb","type":"watson-tone-analyzer-v3","z":"730b2c45.8f205c","name":"Tone Analyzer","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":340,"y":60,"wires":[["45680acf.83ccc4"]]},{"id":"ffc65389.32ff7","type":"ui_text_input","z":"730b2c45.8f205c","name":"Input Dashboard","label":"Text for Cognitive Dress","group":"852a2465.685ba8","order":0,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"Feedback","x":120.7666015625,"y":57.75,"wires":[["b0525353.327fb"]]},{"id":"52588489.bdd6cc","type":"debug","z":"730b2c45.8f205c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":660,"y":35,"wires":[]},{"id":"6695fd52.f4be74","type":"ui_chart","z":"730b2c45.8f205c","name":"","group":"852a2465.685ba8","order":0,"width":"6","height":"6","label":"Emotion Chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","useOneColor":false,"colors":["#ff0000","#00ff00","#800080","#ffff00","#0000ff","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":880,"y":85,"wires":[[],[]]},{"id":"ca544508.cf7b58","type":"inject","z":"730b2c45.8f205c","name":"","topic":"","payload":"I'm happy.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":125,"wires":[["b0525353.327fb"]]},{"id":"c5d5db95.1bbbe8","type":"function","z":"730b2c45.8f205c","name":"Pie Function","func":"return {payload:\n    [{\"series\": [ [\"A\", \"B\", \"C\", \"D\", \"E\"] ],\n      \"data\":   [ [msg.payload[0].score, msg.payload[1].score, msg.payload[2].score, msg.payload[3].score, msg.payload[4].score] ],\n      \"labels\": [ msg.payload[0].tone_id, msg.payload[1].tone_id, msg.payload[2].tone_id, msg.payload[3].tone_id, msg.payload[4].tone_id ]\n}]};","outputs":1,"noerr":0,"x":670,"y":85,"wires":[["6695fd52.f4be74"]]},{"id":"852a2465.685ba8","type":"ui_group","z":"","name":"Cognitive Dress","tab":"c128993c.b108a8","disp":true,"width":"6","collapse":false},{"id":"c128993c.b108a8","type":"ui_tab","z":"","name":"Cognitive Dress","icon":"Feedback"}]
